table.fenzer-items td:first-child {
    width: 100px;
}

table.fenzer-items td:last-child {
    width: 80px;
}

table.fenzer-items td:nth-child(3), table.fenzer-items td:nth-child(5) {
    width: 100px;
    text-align: right;
}

table.fenzer-items td:nth-child(4) {
    width: 120px;
}
table.fenzer-items tr td, table.fenzer-add-items tr td {
    vertical-align: middle;
}

span.add-to-cart{
    background:#5bc0de;
}

span.add-to-cart:hover{
    background:#31b0d5;
}

/*
Fenzer Category
*/
#showProduct{
    display: none;
}
