/assets
protected/runtime
/nbproject
/.idea
images/fenzer
images/madrid
images/upload
images/barcode
.idea/php.xml
protected/config/params.php
images/userFile/*
images/bank
images/categoryImage
images/orderFile
images/brandImage
