/* ========================= */
/*      SUBCATEGORIES        */
/* ========================= */
.pagination{
	margin-top: 0;
}

/* ========================= */
/*        IOS SLIDER         */
/* ========================= */

.iosSlider {
	height: 300px;
}

.iosSlider .prevButton, .iosSlider .nextButton {
	top:125px;
}


.page-content input{
	height:40px!important;
	font-size:14px!important;
	color:#7a8188!important;
	padding: 8px 0 0 8px!important;
	border:1px solid #e6e6e6!important;
}

/* ========================= */
/*        Order table        */
/* ========================= */

table td{
	vertical-align: middle;
}

table th.code{
	width: 80px;
}

table th.price{
	width: 80px;
}

table th.actions{
	width: 200px;
}

/* ========================= */
/*  product actions single   */
/* ========================= */
table.product-actions-single{
    width:100%;
}

table.product-actions-single td:first-child{
    width:20%;
    text-align: right;
}

form .full-width{
    width: 100%;
}


.numeric-input input.form-control{
    width:100%;
    height:42px!important;
    display:inline-block;
}


.numeric-input>span{
    position:absolute;
    top:3px;
    right:8px;
    cursor:pointer;
    color:#7a8188;
    float: right;
}

input[type="number"].form-control{
    width:100%;
}

i.spinner {
    display: none;
}